:root {
  --main-font: Roboto, sans-serif;
  --secondery-font: Raleway;
  --accent-color: #2196f3;
}
.body {
  font-family: var(--main-font);
  background-color: white;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/*.active {
  color: var(--accent-color);
}*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.addressnorm {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
button {
  font-family: inherit;
}
/*=======header=======*/

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  background: #ffffff;
}
.header .conteiner {
  display: flex;
  align-items: center;
}
.navigetion {
  display: flex;
  align-items: center;
}
.navigetion-item:not(:last-child) {
  margin-right: 50px;
}
.navigetion-list {
  display: flex;
  align-items: center;
}
.navigetion-list {
  color: var(--accent-color);
}

.navigetion-list .link.active {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.navigetion-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigetion-link:hover,
.navigetion-link:focus {
  color: var(--accent-color);
}

.nav-adr-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-adr-link:hover,
.nav-adr-link:focus {
  color: var(--accent-color);
}
.nav-tel-link:hover,
.nav-tel-link:focus {
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 90px;
}
/*======end header========*/
.logo-light-theme {
  color: #212121;
}
.logo-dark-theme {
  color: #ffffff;
}
/*======hero============*/
.hero-section {
  background-color: #2f303a;
}
.hero {
  margin: 0 auto;
  padding: 200px 15px;
}
.model-btn {
  padding: 10px 32px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  background-color: var(--accent-color);
  font-family: var(--main-font);
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 696px;
}
/*========end hero========*/

.titl {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*=========занятия=========*/
.quality-section {
  padding-top: 94px;
  padding-bottom: 47px;
}
.quality-list {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.quality-list-item {
  width: 270px;
}
.quality-list-item:not(:last-child) {
  margin-right: 30px;
}
.foto-list {
  display: flex;
  align-items: center;
}
.foto-section {
  padding-top: 47px;
  padding-bottom: 94px;
}
.foto-list-item {
  width: 370px;
}
.foto-list-item:not(:last-child) {
  margin-right: 30px;
}
.quality {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.quality-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*==========end quality========*/
/*=========team============*/
.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 100px;
}
.team-list {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 44px;
  margin-right: 30px;
}
.team-list-item {
  width: 285px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-section-prof {
  padding: 20px 24px;
}
.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-prof {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*==========endteam========*/
/*=========footer=========*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .conteiner {
  display: flex;
  flex-direction: column;
}
.logo-footer {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.ftr-adr-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.ftr-mail-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.ftr-tel-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*=========endfooter==========*/
/*========portfolio==========*/
.resource {
  padding-top: 94px;
  padding-bottom: 94px;
}
.resource-list {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
.resource-list-item > {
  margin-right: 8px;
}
.resource-list-item:not(:last-child) {
  margin-right: 8px;
}
.model-btn-p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  background-color: #f5f4fa;
}
.model-btn-p:hover,
.model-btn-p:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.team-name-projekt {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 4px;
}
.team-prof-projekt {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
.projekt-list {
  display: flex;
  flex-wrap: wrap;
}
.projekt-list-item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  border: 1px solid #eee;
  margin-bottom: 30px;
}
.projekt-list-item:nth-child(3n) {
  margin-right: 0;
}
.projekt-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projekt-section-conteiner {
  padding: 20px 24px;
}
.address-element {
  font-style: normal;
}
.address {
  display: block;
}
.address-element:not(:last-child) {
  padding-bottom: 9px;
}

/*===========endportfolio======*/
